.header{
    width:100%;
    height:150px;
    left:200 px; 
    top: 20 px;
    overflow: hidden
}

.header h1 {
    background-color: black;
    color: white;
    height: 30px;
    width: 600px;
    margin: 30px;
}

.navigation {
    height: 10px;
    width: 600px;
    margin: 30px;
}
.navigation a {
    height: 10%;
    display: flex;
    float: right;
    padding: 0px 30px 20px 10px;
    background-color: #101010;
    margin: 0px;
}
.logo-container {
    width: 200px;
}
.inner-header {
    width: 100%;
    display: flex;
    background-color: black;
}
.navigation a li {
    vertical-align: middle;
    display: table-cell;
    font-size: 20px;
    color: white;
}

.navigation a:hover{
    background-color: gray;
    color: #101010;
}

img {
    width: 300px;
    height: 400x;
  }

.content {
    display: inline-block;
    margin: 0;
}

.content img {
    padding: 0px 150px;
    float: left;
    height: 440px;
    width: 320px;
}

.content p {
    padding: 0px 250px;
    width: 70%;
    text-align: justify;
    font-size: large;
}